<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <h1 style="color: blueviolet;">Success: <%= name %> </h1>
    <a href="https://www.w3schools.com/tags/tag_a.asp" style="color: white;background-color: blueviolet; padding: 5px; width: 100px; border: 1px black solid; font-weight: bold;text-decoration: none;">Verify</a>
</div>